<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.email">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Email.NoActionBar">
        <activity
            android:name=".activities.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateContactActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateFolderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FolderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EmailActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ContactsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activities.FoldersActivity"
            android:exported="true" />
        <activity
            android:name=".activities.UpdateFolderActivity"
            android:exported="true" />
        <activity
            android:name=".activities.BaseActivity"
            android:exported="true"
            android:label="@string/title_activity_base"
            android:theme="@style/Theme.Email.NoActionBar" />
        <activity
            android:name=".activities.CreateEmailActivity"
            android:exported="true" />
        <activity
            android:name=".activities.EmailsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>